.scatterplotDivContainer{
    height: 100%;
}

/* Brush styling */
.brush .overlay {
    fill: none;
    pointer-events: all;
}

.brush .selection {
    fill: steelblue;
    fill-opacity: 0.3;
    stroke: steelblue;
    stroke-width: 2px;
    stroke-dasharray: 5,5;
}